.dots, .food, .snake {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: black;
}

.snake {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: white;
}

.food {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  background: pink;
  border-top: 0;
  /* border: 1px solid blue; */
}

.field-600 {
  padding: 0;
  margin: 0;
  width: 600px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.field-320 {
  padding: 0;
  margin: 0;
  width: 320px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.field-350 {
  padding: 0;
  margin: 0;
  width: 320px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.operator {
  padding: 10px;
  display: flex;
}

.status {
  margin-left: auto;
}
.info {
  margin-left: auto;
}
