.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: black;
}

.snake {
  width: 10px;
  height: 10px;
  background-color: white;
}

.food {
  width: 10px;
  height: 10px;
  background: pink;
}

.field-600 {
  width: 600px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.field-320 {
  width: 320px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.field-350 {
  width: 320px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.operator {
  padding: 10px;
  display: flex;
}

.status {
  margin-left: auto;
}
.info {
  margin-left: auto;
}
